<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xmps.androiddebugtool.factorytest" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_comm"
        android:label="RK2928 Tool"
        android:theme="@style/AppTheme" >
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".MainActivity"
            android:label="RK_XMPS" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="xmps.androiddebugtool.factorytest.testmodules.PlayTestAudioService"
            android:persistent="true" />

        <activity
            android:name=".AllTestItemActivity"
            android:label="所有测试项目"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".ShowOneItemActivity"
            android:label="" >
        </activity>

        <activity
            android:label="烤鸡和压力测试"
            android:name="xmps.androiddebugtool.stresstest.StressTestActivity">
        </activity>

        <activity
            android:label="常用工具"
            android:name="xmps.androiddebugtool.tools.CommToolsActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:name="xmps.androiddebugtool.stresstest.InternetVideoPlayerActivity">
        </activity>
    </application>

</manifest>
